src/RFOneAuthor/RFOneAuthor_Data/Tools/xslt/dtd/doctypes/wsm/wsm.dtd

<?xml version='1.0' encoding='UTF-8' ?>

<!--Generated by Turbo XML 2.4.1.100.-->

<!ENTITY % hi-d-dec     PUBLIC 
"-//OASIS//ENTITIES DITA Highlight Domain//EN" 
"../ditabase/highlightDomain.ent"                                               >
%hi-d-dec;

<!ENTITY % ar-d-dec     PUBLIC 
"-//Bosch//ENTITIES DITA Augmented Reality Domain//EN"
"../dita-ar/arDomain.ent"                                               >
%ar-d-dec;


<!ENTITY % ph           "ph | %hi-d-ph;"       >

<!-- Allow specific kinds of xref tags -->
<!ENTITY % xref           "xref | %ar-d-xref;"       >

<!--vocabulary attributes-->
<!ATTLIST topic       domains CDATA "&hi-d-att;">
<!ATTLIST poitopic       domains CDATA "&hi-d-att;">

<!--Redefine the infotype entity to say which topic types are included in a parent topic -->				    
<!ENTITY % info-types   " animated-procedure | poitopic | information "         >

<!-- ============================================================= -->
<!--                    DOMAINS ATTRIBUTE OVERRIDE                 -->
<!-- ============================================================= -->
<!--                    Must be declared ahead of the DTDs, which
                        puts @domains first in order               -->

<!ENTITY included-domains 
                        "&hi-d-att; &ar-d-att;"                                 >

<!ENTITY % topic.mod PUBLIC "-//OASIS//ELEMENTS DITA Topic//EN" "../ditabase/topic.mod">
%topic.mod;

<!ENTITY % task.mod PUBLIC "-//OASIS//ELEMENTS DITA Task//EN" "../ditabase/task.mod">
%task.mod;
<!ENTITY % artopic.mod PUBLIC "-//Bosch//ELEMENTS DITA AR Topic//EN" "../dita-ar/artopic.mod">
%artopic.mod;
<!ENTITY % artask.mod PUBLIC "-//Bosch//ELEMENTS DITA Animated Procedure//EN" "../dita-ar/artask.mod">
%artask.mod;
<!ENTITY % arinfo.mod PUBLIC "-//Bosch//ELEMENTS DITA Information Topic//EN" "../dita-ar/arinfo.mod">
%arinfo.mod;

<!--vocabulary definitions-->
<!ENTITY % hi-d-def     PUBLIC 
"-//OASIS//ELEMENTS DITA Highlight Domain//EN" 
"../ditabase/highlightDomain.mod"                                               >
%hi-d-def;

<!ENTITY % ar-d-def     PUBLIC 
"-//Bosch//ELEMENTS DITA Augmented Reality Domain//EN"
"../dita-ar/arDomain.mod"                                               >
%ar-d-def;

<!--
*******************************************************************************
******************************* File Information ******************************
*******************************************************************************
Public Name:		"-//XC-Demo//DTD Workshop Manual//EN"

DTD summary:
Workshop Manual

Copyright (c) 2013, Bosch Automotive Service Solutions, All rights reserved

Diese Komponente darf nur mit schriftlicher Genehmigung
der Bosch Automotive Service Solutions eingesetzt oder weitergegeben werden.

*******************************************************************************
Revision History:
Aug 2013	Extended for DITA
*******************************************************************************
*******************************************************************************
*******************************************************************************
-->
<!ENTITY % id-attr " id ID  #IMPLIED">

<!ENTITY % guid-attr " id CDATA  #IMPLIED">

<!-- Element Definition -->
<!ELEMENT WSM (main_section*)>

<!ELEMENT main_section (mainchapter*)>

<!ATTLIST main_section  sectionNumber CDATA  #IMPLIED
                          sectionName   CDATA  #IMPLIED
                          %guid-attr; >
<!ELEMENT mainchapter (topic*)>

<!ATTLIST mainchapter  %guid-attr;
                         chapterName   CDATA  #IMPLIED
                         chapterNumber CDATA  #IMPLIED >

